body {
    padding: 0;
    margin: 0 auto;
    align-items: center;
    line-height: 150%;
    background: url("https://i.pinimg.com/564x/dc/3d/c5/dc3dc5473d8d763e277ff88596152cb0.jpg")
  }
  h4{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 8em;
  }
h5 {
font-size: 18px;
margin-bottom: 0;
  }
.social {  
  width: 62px;
  height: 62px;
  margin-top: 8px;
  margin-right: 5px;
  border-radius: 50%;
}
<<<<<<< HEAD

<<<<<<< HEAD
h2 {font-family: 'Iceberg', cursive; color: white; text-align: center; }
/* html, body {
=======
h2 {color: white; text-align: center; }
html, body {
>>>>>>> 7701300491f009b60e42840a05911a17dd4a261e
    width: 100%;
    height: 100%;
} */

/* searchbox */
#custom-search-input{
  padding: 3px;
  border: solid 1px #E4E4E4;
  border-radius: 6px;
  background-color: #fff;
}

#custom-search-input input{
  border: 0;
  box-shadow: none;
  width: 43%;
}

#custom-search-input button{
  margin: 2px 0 0 0;
  background: none;
  box-shadow: none;
  border: 0;
  color: #666666;
  padding: 0 8px 0 10px;
  border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
  border: 0;
  box-shadow: none;
  border-left: solid 1px #ccc;
}
/* end searchbox */

body {
    background: #00091B;
=======
/* Solid border */
hr.solid {
    border-top: 3px solid #bbb;
}
.connect{
  font-size: x-large;
  font-style: bold;
  color: snow;
  text-align: center;
>>>>>>> 2a154f2b8619ac0b87718b61e2b8ab536d749a6d
}
.container {
  align-items: center;
}
.name{
  font-size: medium;
  color: aqua;
  text-align: center;
  margin-right: auto;
}
.header{
  text-align: center;
  font-size: 450%;
  color: yellow;
  margin: right;
  border-style: solid;
  border-color: snow;
  text-decoration-style: double;
}

.mar{
  width: 62px;
  height: 62px;
  margin-top: 8px;
  margin-right: 5px;
}
.intro{
  font-size: 250%;
  color:turquoise;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-stretch: inherit;
  font-style: italic;
  margin: right;
  padding: 30px;
  text-shadow: snow;
}
.bio{
width: 600px;
border: 15px dotted snow;
padding: 100px;
text-align: center;
color: yellow;
}
button{
  color: green;
  background-color: black;
  padding:  15px 32px;
  border-radius: 12px;
  text-align: center;
  margin: right;
}
.col-sm-12{
  text-align: center;
}
.header{
  text-align: center;
}
.randomDrink{
  text-align: center;
  color: snow;
}
.box1{
  box-sizing: border-box;
  width: 840px;
  height: 200px;
  border: 5px solid yellow;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  }

.box2{
  box-sizing: border-box;
  width: 840px;
  height: 200px;
  border: 5px solid yellow;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  }
.inVideo{
  text-align: center;
  color: snow;
  font-size: 250%;
  padding-right: 150px;
}
.wrapper{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
width: 8em;
  }
p{
  text-align: center;
  color: snow;
  font-size: 100%;
  background-color: black;
}
.icons{
  text-align: center;
}
#col-sm-6{
  text-align: center;
  text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 8em;
  }
