body {
    padding: 0;
    margin: 0 auto;
    align-items: center;
    line-height: 150%;
    background-color: skyblue;

  }
  h4{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 8em;
  }
h5 {
font-size: 18px;
margin-bottom: 0;
  }
.social {  
  width: 62px;
  height: 62px;
  margin-top: 8px;
  margin-right: 5px;
  border-radius: 50%;
}
/* Solid border */
hr.solid {
    border-top: 3px solid purple;
}
.connect{
  font-size: x-large;
  font-style: bold;
  color: snow;
  text-align: center;
}
.container {
    background-image: url("https://i.pinimg.com/564x/dc/3d/c5/dc3dc5473d8d763e277ff88596152cb0.jpg");
    text-align: center;
    font-size: 450%;
    color: yellow;
    margin: right;
    border-style: solid;
    border-color: snow;
    text-decoration-style: double;
    width: 100%;
}
.name{
  font-size: medium;
  color: aqua;
  text-align: center;
  margin-right: auto;
}

.mar{
  width: 62px;
  height: 62px;
  margin-top: 8px;
  margin-right: 5px;
}
.intro{
  font-size: 250%;
  color:turquoise;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-stretch: inherit;
  font-style: italic;
  margin: right;
  padding: 30px;
  text-shadow: snow;
}
.bio{
width: 600px;
border: 15px solid snow;
padding: 100px;
text-align: center;
color: yellow;
}
button{
  color: green;
  background-color: black;
  padding:  15px 32px;
  border-radius: 12px;
  text-align: center;
  margin: right;
}
.col-sm-12{
  text-align: center;
}
header{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://i.pinimg.com/564x/dc/3d/c5/dc3dc5473d8d763e277ff88596152cb0.jpg");
  height: 275px;
  color: yellow;
  border-style: solid;
  border-color: snow;
  text-decoration-style: double;
}
header h5{
    font-size: 550%;
}
.randomDrink{
  text-align: center;
  color: purple;
  width: 100%;
}
.box1{
  box-sizing: border-box;
  width: 100%;
  height: 200px;
  border: 5px solid snow;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  }

.box2{
  box-sizing: border-box;
  width: 840px;
  height: 200px;
  border: 5px solid snow;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  }
.inVideo{
  text-align: center;
  color: purple;
  font-size: 250%;
  padding-right: 150px;
}
.wrapper{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 840px;
  }
p{
  text-align: center;
  color: snow;
  font-size: 25%;
  background-color: black;
}
.icons{
  text-align: center;
}
#col-sm-6{
  text-align: center;
  text-align: center;
    margin-left: auto;
    margin-right: auto;

  }